@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Background is always white */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #C8EAEE; /* Force background to white */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom class to hide horizontal scrollbars but keep scrolling */
.no-s {
  overflow-x: scroll;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.no-s::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari) */
}
